header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    border: 0px solid black;
    border-radius: 4px;
}

.nav-item {
    padding: 15px 1em;
    width: 100px;
    border-right: 0px solid black;
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.nav-item:hover {
    background: rgb(174, 202, 223) 50%;
    margin-top: -3px;
}

.nav-bar:last-child {
    border-right: none;
}

.logo {
    height: 80px;
    margin: 15px 15px;
}

.hero {
    height: 500px;
    background-image: url('../asset/revou-banner.png');
    background-size: contain;
    object-fit: contain;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
}

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(255, 255, 255) 50%, rgb(174, 202, 223) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.welcome {
    text-align: center;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

.highlight {
    vertical-align: middle;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    margin: 0 1em;
    margin-bottom: 3em;
}

.form-section {
    background-color: rgb(174, 202, 223) ;
    display: flex;
    flex-direction: row;
}

.form-output {
    margin-top: 3.3em;
    margin-left: 5em;
}


#kirim {
    margin-top: 2em;
    padding: 10px;
    width: 300px;
    border: none ;
    cursor: pointer;

}

#kirim:hover {
    background-color: rgb(230, 194, 53);
}

.footer {
    text-align: center;
}